<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>疫情监控</title>
        <script src="../static/js/jquery-1.11.1.min.js"></script>
        <link href="../static/css/main.css" rel="stylesheet"/>
	</head>
	<body>
			<div id="title">全国疫情实时追踪</div>
			<div id="tim"></div>
			<div id="c1">
				<div class="num"><h1></h1></div>
				<div class="num"><h1></h1></div>
				<div class="num"><h1></h1></div>
				<div class="num"><h1></h1></div>
                <div class="num"><h1></h1></div>
				<div class="num"><h1></h1></div>
				<div class="txt"><h2>累计确诊</h2></div>
				<div class="txt"><h2>剩余疑似</h2></div>
				<div class="txt"><h2>累计治愈</h2></div>
				<div class="txt"><h2>累计死亡</h2></div>
                <div class="txt"><h2>康复率</h2></div>
				<div class="txt"><h2>死亡率</h2></div>

			</div>
            <script src="../static/js/controller.js"></script>
	</body>
</html>
